@import "../congUI/icon/iconfont.wxss";

.home_contant {
    display  : flex;
    flex-wrap: wrap;
    width    : 100%;

    .item_box {
        padding   : 3rpx;
        width     : 33.3333vw;
        height    : 33.3333vw;
        box-sizing: border-box;

        .item_inset_box {
            position       : relative;
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 100%;
            height         : 100%;

            .cricle_box {
                .six_angle {
                    font-size  : 234rpx;
                    color      : #ffffff;
                    text-shadow: -1px -1px 40rpx rgba(255, 197, 61, 0.6);
                    // animation  : showChange 4s infinite;
                }
            }

            .cricle_contant {
                .six_angle {
                    font-size  : 200rpx;
                    color      : rgb(246, 208, 81);
                    text-shadow: 0px 0px 20rpx #ffffff;
                }
            }

            .cricle_contant {
                position       : absolute;
                left           : 0;
                top            : 0;
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 100%;
                height         : 100%;
            }

            .path-contant {
                position       : absolute;
                left           : 0;
                top            : 0;
                display        : flex;
                justify-content: center;
                align-items    : center;
                width          : 100%;
                height         : 100%;

                .path_icon {
                    font-size: 80rpx;
                    color    : #ffffff;
                }

            }

            .text_contant {
                position       : absolute;
                right          : 16rpx;
                bottom         : 50rpx;
                display        : flex;
                justify-content: center;
                align-items    : center;
                padding        : 5rpx 15rpx;
                min-width      : 60rpx;
                white-space    : nowrap;
                border-radius  : 15rpx;
                background     : #ffffff;
                color          : #faad14;
                font-size      : 24rpx;
                box-shadow     : 4rpx 4rpx 8rpx rgba(136, 136, 136, 0.5);
            }
        }
    }
}

@keyframes showChange {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}