.home_contant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home_contant .item_box {
  padding: 3rpx;
  width: 33.3333vw;
  height: 33.3333vw;
  box-sizing: border-box;
}
.home_contant .item_box .item_inset_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home_contant .item_box .item_inset_box .cricle_box {
  position: relative;
  width: 50px;
  height: 86.6px;
  background-color: red;
}
.home_contant .item_box .item_inset_box .cricle_box:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 50px;
  border-width: 43.3px 25px;
  border-style: solid;
  border-color: transparent red transparent transparent;
}
.home_contant .item_box .item_inset_box .cricle_box:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  border-width: 43.3px 25px;
  border-style: solid;
  border-color: transparent transparent transparent red;
  top: 0;
}
